@model culture.Models.ProductWithFarmerProfileViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Create Product</h4>
    <hr />
    <input type="hidden" asp-for="Product.FarmerProfileId" value="@Model.Product.FarmerProfileId" />
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Category" class="control-label"></label>
        <input asp-for="Product.Category" class="form-control" />
        <span asp-validation-for="Product.Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductionDate" class="control-label"></label>
        <input asp-for="Product.ProductionDate" class="form-control" />
        <span asp-validation-for="Product.ProductionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="imageFile" class="control-label">Upload Image</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create Product" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
